
# Compile & execute files
makefile
sysconf.out
job.s
pluto
!runs/**/pluto

# Object files
*.o

# Outputs
*.out
*.err
*.flt
*.dbl
*.vtk
*.tab
*.dbl.h5
*.flt.h5
!flt.out
!dbl.out
!vtk.out
!tab.out
!restart.out

# figures
*.png
*.jpg

# Misc caches
.ipynb_checkpoints
.vscode
