
# Compile & execute files
makefile
sysconf.out
pluto
job.s
runs/definitions.h
runs/pluto.ini

# Object files
*.o

# Outputs
hist.out
grid.out
*.err
*.flt
*.dbl
*.vtk
*.tab
*.dbl.h5
*.flt.h5

# figures
*.png
*.jpg

# Misc caches
.ipynb_checkpoints
.vscode



